* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
}

img{
    margin-top: 20px;
}
h2{
    margin-top: 20px;
    
    font-size: 30px;
    color: white;
    
}
p{
    margin-top: 20px;
    line-height: 30px;
    font-style: 3px;
    color: hsla(0, 0%, 100%, 0.75);
    
}

button{
    margin-top: 200px;
    border-radius: 8px 8px 8px 8px;
    
    align-items: center;
}



.sedan {
    background-color: rgb(182, 138, 26);
    align-items: center;
    padding: 30px;
    border-radius: 8px 0 0 8px;
    
}



.suvs {
    background-color: hsl(184, 100%, 22%);
    align-items: center;
    padding: 30px;
}


.luxury {
    background-color: hsl(179, 100%, 13%);
    align-items: center;
    padding: 30px;
    border-radius: 0 8px 8px 0;
}

#main {
    width: 50%;
    height: 500px;
    display: flex;
    margin: 200px;
   




}